ChatterBot==0.7.4
chatterbot-corpus
click
colorama
importlib-metadata
importlib-resources
joblib
mathparse
nltk
packaging
Pint
pymongo
pyparsing
python-dateutil
pytz
PyYAML
regex
six
SQLAlchemy
tqdm
typing-extensions
zipp
